


/*CSSLint = dissable;*/

/* apply a natural box layout model to all elements, but allowing components to change */

html {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
  /*color: rgba(255, 255, 255, 0);*/
}

/*** NAVIGATION***/

nav {
  display: flex;
  width: 100%;
  height: 3rem;
  align-items: center;
  text-transform: uppercase;
  margin-top: 20px;
  color: rgb(20, 42, 84);
}


.nav-title {
  display: flex;
  width: 100%;
  padding: 0 3rem;
  align-items: center;
}

.fa-son {
  display: flex;
  flex: 1;
  margin-left: 4rem;
  font-size: 3rem;
  border-radius: 50%;
  border: 1px solid #111;
}

.nav-title {
  display: flex;
  flex: 2;
  justify-content: center;
  width: 100%;
  padding: 10px;
  margin-left: 1rem;
}


.nav-search {
  display: flex;
  flex: 1;
  width: 100%;
  align-items: center;
}

.nav-search__items {
list-style: none;
padding: 1rem;
}


/*** HEADER STUFF ***/

header {
  display: flex;
  align-content: center;
  flex-direction: column;
  margin-bottom: 25px;
  width: 100%;
  background: url(Images/headerSAP.jpg)
  no-repeat center fixed;
  background-size: cover;
  text-align: center;
}


.hero {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.hero_page-title {
  margin: 0;
  font-size: 100px;
  text-transform: uppercase;
  color: #feffff;
}

.hero_sub-title {
  margin: 25px;
  padding-bottom: 25px;
  font-size:  1rem;
  color: rgb(20, 42, 84);
}

/************* MAIN CONTENT ***/

main {
  display: flex;
  justify-content: center;
  width: 1200px;
  margin: auto;

}


/*** LEFT COL ***/

.blog__left-col {
  display: flex;
  flex-direction: column;
  flex: 2;
  align-content: center;
  width: 80%;
  margin: 35px 50px;
  padding: 20px;
}


.blog-heading {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: rgb(20, 42, 84);
}

.blog__sub-heading {
  display: flex;
  margin: 0;
  padding: 5px;
}


.blog__author-info{
  margin: 0;
  padding: 0px;
  list-style: none;
  padding-right: 10px;
}


#blog__dateline {
  text-decoration: underline;
  color: rgb(47, 43, 47);
}

#blog__dateline:hover {
  color: rgb(16, 86, 205);
}

.blog__author-pic {
  border-radius: 50%;
  border: solid 0.8px #000;
}

#small-author-pic {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.blog__content {
  padding-top: 20px;
  font-size: 1em;
}

#blog__active-link {
  text-decoration: underline;
  color: rgb(16, 86, 205);
}

#blog__active-link:hover {
  color: rgb(97, 97, 98);
}

#blog__inactive-link {
  text-decoration: underline;
  color: rgb(97, 97, 98);
}

#blog__inactive-link:hover {
  color: rgb(16, 86, 205);
}

.blog__block-quote {
  border-left: solid 2px #ddd;
  padding-left: 40px;
  margin-top: 20px;
  margin-left: 5px;
  font-size: 1.5rem;
  text-align: left;
  text-transform: uppercase;
  color: rgb(20, 42, 84);
}


.blog__social-btn {
  padding: 0px 3px 0px 0px;
  border: 0;
  color: #fff;
  border-left-color: rgb(60, 60, 60);
  background-color: rgb(156, 172, 204);
}

.blog__social-btn:hover {
  background-color: rgb(60, 93, 232);
}


#blog__share-btn {
  background-color: rgb(60, 93, 232);
}

#blog__share-btn:hover {
  background-color: rgb(156, 172, 204);
}

.fa {
  padding: 6px;
  margin-right: 3px;
  line-height: 17px;
 }

.fa-comment-o, .fa-cloud-download {
  background-color: rgb(60, 60, 60);
}

.fa-share-square-o {
  background-color: rgb(5, 8, 68);
}


/*** SIDEBAR ***/

.blog__sidebar {
  flex: 1;
  overflow: hidden;
  margin-top: 35px;
  text-align: center;
}

.blog__sidebar-social:hover {
  color: rgb(97, 97, 98);
}

.blog__sidebar-name {
  margin: 0;
}

.blog__sidebar-text{
  font-size: 1rem;
}

#side-bar-graph {
  font-size: 1rem;
  text-align: left;
}

#sidebar-author-pic {
  width: 40px;
  height: 40px;
}

#sidebar-ad-text {
  text-decoration: underline;
  vertical-align: top;
  margin: 0;
  font-size: 9px;
}

#sidebar-ad-text:hover {
  color: rgb(97, 97, 98);
}

.blog__sidebar-pic {
  width: 289px;
  height: auto;
}

#snippit-header {
  margin-bottom: 0;
  font-size: 1.5em;
}

/*** BOTTOM SECTIN ***/

.blog__bottom {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.blog__bottom-heading {
  margin: 25px 0;
  text-align: center;
  font-size: 3rem;
}

.blog__bottom-grid {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-left: 0;

}

.blog__bottom-post {
  flex: 1;
  position: relative;
  margin: auto;
  font-size: 1.2rem;
  list-style: none;
}

.blog__bottom-post-title {
  position: absolute;
  top: 65%;
  left: 15%;
  color: #eee;
  }

  .blog__bottom-post-title:hover {
    color: #fff;
  }

.blog__bottom-pic {
  flex: 1;
  width: 275px;
  height: 250px;
  border: 1px solid #fff;
}

.bottom-pic-cover {
  position: absolute;
  top: 0;
  width: 275px;
  height: 250px;
  background-color: rgba(199, 169, 92, 0.72);
  padding: 10px;
}

.blog__bottom-post:hover .bottom-pic-cover {
  opacity: 0;
}

.blog__bottom-post:hover .bottom-pic-cover h3 {
  opacity: 1;
}

/*#selected-title {
  color: rgb(232, 233, 236);
}

#selected-title:hover {
  color: #fff;
}*/


/*** FOOTER ***/

footer {
  display: flex;
  height: 200px;
  justify-content: center;
  background: rgb(20, 42, 84);
  font-size: .7rem;
}

.footer__content {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 100px;
}

.footer__TIY-logo {
  display: flex;
  width: 100px;
  height: 100px;
  margin: 50px;

  }

 .footer__text{
  display: flex;
  flex: 1;
  color: rgb(146, 186, 252);
  font-size: 9px;
  }

.footer__bottom-nav {
  display: flex;
  align-items: center;
  flex: 1;
  width: 100%;
  padding: 0;
  font-size: 9px;
  color: rgb(146, 186, 252);
}

.footer__bottom-nav-item:hover {
  color: #ccc;
}

.footer__bottom-nav-item {
    border-right: solid 1px;
    list-style: none;
    padding: 5px;
}

#selected-footer-nav-item {
  color: #ccc;
  border-right: none;
}

#selected-footer-nav-item:hover {
  color: rgb(146, 186, 252);
}

@import 'tablet';
@import 'mobile';
