/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
  /*color: rgba(255, 255, 255, 0);*/
}

/*** NAVIGATION STUFF ***/

nav {
  padding: 0;
  height: 3rem;
  position: relative;
  top: 0%;
  margin: 0;
  text-transform: uppercase;
  font-size: .4em;
  color: rgb(20, 42, 84);
}

.nav-left {
  position: absolute;
  left: 5%;
  padding: 0;
  margin: 0;
}

.search-list {
  position: absolute;
  right: 15%;
  margin: 0;
}

.search-list li {
display: inline-block;
list-style: none;
}

.fa-sun-o {
  transform: scale(2);
}

/*** HEADER STUFF ***/

header {
  position: relative;
  margin: 0 20px 30px;
  padding-bottom: 10px;
  width: 100%;
  height: 400px;
  background: url(Images/headerSAP.jpg)
  no-repeat center center ;
  background-size: cover;
}

.hero {
  width: 100%;
  margin: auto;
  position: absolute;
  bottom: 40%;
  text-align: center;
}

.pagetitle {
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom: 0;
  color: #fff;
}

.subheader {
  font-size:  0.8rem;
  margin: 0;
  color: rgb(20, 42, 84);
}

/************* MAIN CONTENT ***/

main {
  display: flex;
}

/*** LEFT COLUMN ***/

.leftcol {
  width: 66.666%;
}

.h2-heading {
  margin: auto;
  width: 70%;
  margin-top: 10px;
  font-size: 2rem;
  text-transform: uppercase;
  color: rgb(20, 42, 84);

}

main ul {
  float: left;
  text-align: left;
  padding: 0;
  margin-left: 30px;
  font-size: 0.7em;
  position: absolute;
  left: 7%;
}

main li {
  display: inline-block;
}

.timedate {
  margin-left: 15px;
}

#on {
  text-decoration: underline;
  color: rgb(47, 43, 47);

}

.authorpic {
  border-radius: 50%;
  border: solid 2px #000;

}

#author {
  width: 15px;
  height: 15px;
  margin: 5px;
  margin: 0 5px 0 0;
  line-height: 15px;
  transform: translateY(2px);
}

.content {
  width: 70%;
  margin: auto;
  padding-top: 40px;
  margin-top: 10px;
}

#active-link {
  text-decoration: underline;
  color: rgb(97, 97, 98);
}

#linked {
  text-decoration: underline;
  color: rgb(16, 86, 205);

}

blockquote {
  font-size: 1.7rem;
  border-left: solid 2px #ddd;
  padding-left: 40px;
  text-transform: uppercase;
  margin-top: 12px;
  margin-left: 5px;
  text-align: left;
  color: rgb(20, 42, 84);
}


.main-buttons {
position: relative;
transform: scale(.7);
}

.button1, .button {
  color: #fff;
  padding: 0px 3px 0px 0px;
  border: 0;
  border-left-color: rgb(60, 60, 60);
}

.button1 {
  background-color: rgb(156, 172, 204);
}

.button {
  background-color: rgb(60, 93, 232);
}

.fa {
  padding: 6px;
  margin-right: 3px;
  line-height: 17px;
 }

.fa-comment-o, .fa-cloud-download {
  background-color: rgb(60, 60, 60);
}

.fa-share-square-o {
  background-color: rgb(5, 8, 68);
}


/*** SIDEBAR ***/

aside {
  overflow: hidden;
  width: 33.333%;

}
.top-sidebar {
  text-align: center;
  margin-bottom: 30px;
  padding: 0;
}


.sb-an, .sb-text {
  margin: 0;
}

.sb-text {
  font-size: .5rem;
  te
}

#side-author {
  width: 40px;
  height: 40px;
  margin: 10px 0px 0px;
}

#sb-addtext {
  text-align: right;
  text-decoration: underline;
  vertical-align: top;
  margin: 0;
}

.sb-pic {
  width: 360px;
  height: auto;
}

#sb-para-h3 {
  margin-bottom: 0;
  font-size: 1.5em;
}

/*** BOTTOM SECTIN ***/

.most-popular {
  text-align: center;
  width: 100%;
}

#most-popular {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  margin: 25px;
}

.bottom-pics {
  width: 220px;
  height: 220px;

}

.bottom-grid {
  background-color: #ddd;
  display: inline-block;
  width: 220px;
  height: 220px;
  margin: 0;
  position: relative;
  font-size: 1.2rem;
}

.picture-titles {
  margin: 5px;
  top: 90%;
  position: absolute;
}
