/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  /*color: rgba(255, 255, 255, 0);*/
}

/*** NAVIGATION STUFF ***/

nav {
  padding: 0;
  height: 3rem;
  position: relative;
  top: 10%;
  margin: 0;
  text-transform: uppercase;
}

.nav-left {
  position: absolute;
  left: 15%;
  padding: 0;
  margin: 0;

}

.search-list {
  position: absolute;
  right: 15%;
  margin: 0;
}

.search-list li {
display: inline-block;
list-style: none;
}

/*** HEADER STUFF ***/

header {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 10px;
  width: 100%;
  height: calc(100vh - 3rem);
  background: url(Images/headerSAP.jpg)
  no-repeat center center ;
  background-size: cover;
}

.hero {
  width: 100%;
  margin: auto;
  position: absolute;
  bottom: 40%;
  text-align: center;
}

.pagetitle {
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom: 0;
  color: #fff;
}

.subheader {
  font-size:  0.8rem;
  margin: 0;
}


/*** MAIN CONTENT ***/

/*** MAIN COLUMN ***/

.leftcol {
  overflow: hidden;
  float: left;
  width: 66.666%;
}

.h2-heading {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: auto;
  width: 90%;
  margin-top: 10px;
}

main ul {
  width: 90%;
  float: left;
  text-align: left;
  padding: 0;
  margin-left: 30px;
  font-size: 0.7em;
}

main li {
  display: inline-block;
}

.timedate {
  margin-left: 15px;

}
.authorpic {
  border-radius: 50%;
}

#author {
  width: 15px;
  height: 15px;
  margin: 5px;
  margin: 0 5px 0 0;
  line-height: 15px;
  transform: translateY(2px);
}

.content {
  width: 90%;
  margin: auto;
  padding-top: 40px;
  margin-top: 10px;
}

blockquote {
  font-size: 2rem;
  text-transform: uppercase;
}

.main-buttons {
  text-align: center;
}

.button1, .button {
  color: #fff;
  padding: 0px 3px 0px 0px;
  border: 0;
  border-left-color: rgb(60, 60, 60);
}

.button1 {
  background-color: rgb(156, 172, 204);
}

.button {
  background-color: rgb(60, 93, 232);
}

.fa {
  padding: 6px;
  margin-right: 3px;
  line-height: 17px;
 }

.fa-comment-o, .fa-cloud-download {
  background-color: rgb(60, 60, 60);
}

.fa-share-square-o {
  background-color: rgb(5, 8, 68);
}


/*** SIDEBAR ***/

.sidebar {
  overflow: hidden;
  background-color: #50b112;
  float: right;
  width: 33.333%;
  position: relative;
}
