/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
  /*color: rgba(255, 255, 255, 0);*/
}

/*** NAVIGATION STUFF ***/

body {
  margin:0;
}

nav {
  position: relative;
  top: 0%;
  margin: 0;
  padding: 0;
  height: 3rem;
  text-transform: uppercase;
  font-size: .4em;
  color: rgb(20, 42, 84);
}

.nav-left {
  position: absolute;
  left: 10%;
  padding: 0;
  margin: 0;
}

.search-list {
  position: absolute;
  right: 10%;
  margin: 0;
}

.search-list li {
display: inline-block;
list-style: none;
}

.fa-sun-o {
  transform: scale(2);
  padding: 20px;
}

/*** HEADER STUFF ***/

header {
  display: flex;
  align-content: center;
  flex-direction: column;
  margin-bottom: 25px;
  width: 100%;
  height: 450px;
  background: url(Images/headerSAP.jpg)
  no-repeat center fixed ;
  background-size: cover;
}


.hero {
  margin-top: 100px;
  align-content: center;
  text-align: center;
}

.pagetitle {
  margin: 0;
  font-size: 5rem;
  text-transform: uppercase;
  color: #fff;
}

.subheader {
  margin: 0;
  font-size:  0.8rem;
  color: rgb(20, 42, 84);
}

/************* MAIN CONTENT ***/

main {
  display: flex;
  align-content: center;
}

.leftcol {
  display: flex;
  flex-direction: column;
  flex: 2;
  align-content: center;
  width: 80%;
  margin: 35px 50px;
  padding: 20px;
}


/*** LEFT COLUMN ***/


.h2-heading {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: rgb(20, 42, 84);
}

.post-title {
  display: flex;
  margin: 0;
  padding: 5px;
}


main li {
  margin: 0;
  padding: 0px;
  list-style: none;
}


#on {
  text-decoration: underline;
  color: rgb(47, 43, 47);
}

.authorpic {
  border-radius: 50%;
  border: solid 0.8px #000;
}

#author {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.content {
  padding-top: 20px;
  font-size: 1em;
}

#active-link {
  text-decoration: underline;
  color: rgb(97, 97, 98);
}

#linked {
  text-decoration: underline;
  color: rgb(16, 86, 205);

}

blockquote {
  border-left: solid 2px #ddd;
  padding-left: 40px;
  margin-top: 20px;
  margin-left: 5px;
  font-size: 1.5rem;
  text-align: left;
  text-transform: uppercase;
  color: rgb(20, 42, 84);
}


.button1, .button {
  padding: 0px 3px 0px 0px;
  border: 0;
  color: #fff;
  border-left-color: rgb(60, 60, 60);
}

.button1 {
  background-color: rgb(156, 172, 204);
}

.button {
  background-color: rgb(60, 93, 232);
}

.fa {
  padding: 6px;
  margin-right: 3px;
  line-height: 17px;
 }

.fa-comment-o, .fa-cloud-download {
  background-color: rgb(60, 60, 60);
}

.fa-share-square-o {
  background-color: rgb(5, 8, 68);
}


/*** SIDEBAR ***/

aside {
  flex: 1;
  overflow: hidden;
  margin-top: 35px;
  text-align: center;
}

.sb-an {
  margin: 0;
}

.sb-text {
  font-size: .5rem;
}

#s-para {
  font-size: 1rem;
  text-align: left;
}

#side-author {
  width: 40px;
  height: 40px;
}

#sb-addtext {
  text-align: right;
  text-decoration: underline;
  vertical-align: top;
  margin: 0;
  font-size: 9px;
}

.sb-pic {
  width: 289px;
  height: auto;
}

#sb-para-h3 {
  margin-bottom: 0;
  font-size: 1.5em;
}

/*** BOTTOM SECTIN ***/

.most-popular {
display: flex;
flex-direction: column;
align-content: center;
  }

#most-popular {
  margin: 25px 0;
  text-align: center;
  font-size: 3rem;
}


.bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bottom-pics {
  width: 260px;
  height: 260px;
}

.bottom-grid {
  position: relative;
  width: 260px;
  height: 260px;
  margin: 0;
  background-color: #ddd;
  font-size: 1.2rem;
}

.picture-titles {
  position: absolute;
  margin: 5px;
  top: 85%;
}

#selected-title {
  color: rgb(232, 233, 236);
}


/*** FOOTER ***/

footer {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: left;
  margin: auto;
  background: rgb(20, 42, 84);
  font-size: .7rem;
}

.ironyard-logo {
  width: 30px;
  height: 30px;
  flex: 3;
  /*margin-left: 20px*/
  }

.copyright {
  display: flex;
  margin-top: 20px;
}

.bottom-nav {
  padding: 0;
  font-size: 9px;
  color: rgb(146, 186, 252);
}

  #footer-text {
  color: rgb(146, 186, 252);
  font-size: 9px;
  }

  .bottom-nav li {
    display: inline-block;
    list-style: none;
  }

.nav-items {
    border-right: solid 1px;
}

#selected-nav {
  color: #ccc;
}
